@import url("/fonts.css");

@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

/* Tailwind Configs */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables */

@layer base {
  :root {
    &,
    &.light-mode {
      --color-tint-100: 229, 242, 233;
      --color-tint-200: 202, 228, 211;
      --color-tint-300: 176, 215, 189;
      --color-tint-400: 150, 201, 167;
      --color-tint-500: 124, 188, 145;
      --color-tint-600: 97, 174, 123;
      --color-tint-700: 78, 153, 104;

      --color-primary: 65, 127, 86;

      --color-shade-100: 57, 111, 75;
      --color-shade-200: 49, 95, 65;
      --color-shade-300: 41, 79, 54;
      --color-shade-400: 33, 64, 43;
      --color-shade-500: 24, 48, 32;
      --color-shade-600: 8, 16, 11;

      --color-white: 255, 255, 255;

      --color-gray-100: 249, 249, 249;
      --color-gray-200: 237, 237, 237;
      --color-gray-300: 225, 225, 225;
      --color-gray-400: 203, 203, 203;
      --color-gray-500: 173, 173, 173;
      --color-gray-600: 117, 117, 117;
      --color-gray-700: 113, 113, 113;
      --color-gray-800: 53, 53, 53;

      --color-black: 12, 12, 12;

      --color-error-100: 255, 242, 242;
      --color-error-200: 237, 46, 46;
      --color-error-300: 195, 0, 0;

      --color-success-100: 243, 253, 250;
      --color-success-200: 0, 186, 136;
      --color-success-300: 0, 150, 109;

      --color-warning-100: 255, 248, 225;
      --color-warning-200: 244, 183, 64;
      --color-warning-300: 169, 121, 28;
    }
    &.dark-mode {
      --color-white: 12, 12, 12;

      --color-gray-100: 53, 53, 53;
      --color-gray-200: 113, 113, 113;
      --color-gray-300: 117, 117, 117;
      --color-gray-400: 173, 173, 173;
      --color-gray-500: 203, 203, 203;
      --color-gray-600: 225, 225, 225;
      --color-gray-500: 237, 237, 237;
      --color-gray-800: 249, 249, 249;

      --color-black: 255, 255, 255;
    }
  }
}

/* Reset Styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Classes */

@layer components {
  .minimum-height {
    @apply min-h-[calc(100vh-73px)] lg:min-h-[calc(100vh-81px)];
  }
  .icon {
    @apply h-5 w-5 md:h-6 md:w-6;
  }
  .primary-button {
    @apply rounded border border-primary bg-primary px-3 py-2 text-sm font-light text-white transition-all duration-300 ease-in-out hover:bg-white hover:font-bold hover:text-primary lg:px-6 lg:text-base lg:font-normal;
  }
  .white-button {
    @apply w-3/4 text-nowrap rounded bg-white py-2 text-sm font-normal text-gray-800 shadow-xl shadow-gray-400 transition-all duration-200 ease-in hover:font-semibold hover:text-primary md:w-3/5 md:text-base xl:text-lg;
  }
  .outline-button {
    @apply flex flex-row items-center justify-center gap-x-2 rounded border border-white px-6 py-2 text-sm font-light text-white transition-all duration-300 hover:border-primary hover:text-primary xl:gap-x-4 xl:text-base xl:font-normal;
  }
  .outline-primary-button {
    @apply flex flex-row items-center justify-center gap-x-2 rounded border border-primary px-4 py-2 text-xs font-normal text-primary lg:text-base;
  }
  .badge-error {
    @apply rounded-full bg-error-100 px-1 py-[2px] text-xs font-semibold text-error-300 lg:px-2 lg:text-sm lg:leading-6;
  }
}

html,
body {
  font-family: "Estedad";
  min-height: 100vh;
  user-select: none;
  background-color: #fff;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
  pointer-events: none;
  box-shadow: none;
}

label {
  display: block;
}

/* Inupt Number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Scroll Bar */

/* For webkit browsers (chrome , safari) */
@supports (-webkit-appearance: none) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-primary));
    border-radius: 50px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(var(--color-gray-300));
    border-radius: 50px;
  }
}

/* For Firefox browser */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--color-primary)) rgb(var(--color-gray-300));
  }
}

/* Disable Scroll Class */
.scroll-none::-webkit-scrollbar {
  display: none;
}

/* smooth scrolling */
html,
body {
  scroll-behavior: smooth;
}

.swiper-pagination {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 18px !important;
}

.swiper-pagination-bullet {
  background: rgb(var(--color-gray-600)) !important;
  width: 8px !important;
  height: 8px !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: rgb(var(--color-primary)) !important;
  width: 12px !important;
  height: 12px !important;
  opacity: 1;
}
